<section class="mainty">
    <ul id="da-thumbs" class="da-thumbs">
        <li>
            <a href="iniciologin/#st-panel-2">
                <img src="../../../assets/images/Pappo.jfif" class="test2" />
                <div><span>PAPPO NAPOLITANO</span></div>
            </a>
        </li>
        <li>
            <a href="iniciologin/#st-panel-3">
                <img src="../../../assets/images/Freddy.jfif" class="test3" />
                <div><span>FREDDY MERCURY</span></div>
            </a>
        </li>
        <li>
            <a href="#st-panel-4">
                <img src="../../../assets/images/Astor.jfif" class="test4" />
                <div><span>ASTOR PIAZZOLA</span></div>
            </a>
        </li>
        <li>
            <a href="#st-panel-5">
                <img src="../../../assets/images/TCHAYKOVSKY.jfif" class="test5" />
                <div><span>TCHAYKOVSKY</span></div>
            </a>
        </li>
    </ul>
</section>
