<div class="container">
    <div class="st-container">
        <!-- checked="checked" -->
        <input type="radio" name="radio-set" id="st-control-1" />
        <a href="/*/estelar">ESTELAR</a>
        <input type="radio" name="radio-set" id="st-control-2" />
        <a routerLink="/*/artista1" class="btn btn-inverse waves-effect waves-light">PAPPA NAPOLITANO</a>
        <input type="radio" name="radio-set" id="st-control-3" />
        <a href="/*/artista2">FREDDY MERCURY</a>
        <input type="radio" name="radio-set" id="st-control-4" />
        <a href="#st-panel-4">ASTOR PIAZZOLA</a>
        <input type="radio" name="radio-set" id="st-control-5" />
        <a href="#st-panel-5">TCHAYKOVSKY</a>

        <div class="st-scroll">
            <section class="st-panel3" id="st-panel-3">
                <div class="st-deco3" data-icon="F"></div>
                <h2>FREDDY MERCURY</h2>
                <p>Fechas. Tarifas.
                    <a routerLink="/login" class="btn btn-inverse waves-effect waves-light">Comprar</a> Descuentos. Perfil Artista.</p>
            </section>
        </div>
    </div>
</div>
