<div class="col-3 col-s-12">
    <div class="aside">
        <h2>What?</h2>
        <p>LaCasitaStreamConcert-CrearUsuario.</p>
        <h2>ya tenes?</h2>
        <p>Mas Opciones</p>
        <h2>Tarifas</h2>
        <p>LaCasitaStreamConcert-BorrarCuenta</p>
    </div>
</div>
</div>



<h3 class="clase3">
    <div> <i class='fab fa-whatsapp' style='font-size: 30px;'></i></div>
    <div class="tel1">11 6578-8996 </div>
    <div class="tel2">11 6578-8996 </div>
    <div class="tel3">11 6963-6870 </div>



    <!-- <a href="#" class="button shadow-radial">Shadow Radial</a> -->
    <div>
        <a href="https://twitter.com/LaCasitaStreamConcert" class="button hover-shadow"> <i class='fab fa-twitter' style='font-size:24px'></i>
            <br>
            <a href="https://twitter.com/LaCasitaStreamConcert">@Lacasita</a>
        </a>
    </div>
    <div>
        <a href="https://www.instagram.com/LaCasitaStreamConcert/?hl=es-la" class="button hover-shadow"> <i class="fab fa-instagram" style='font-size:24px'></i>
            <br>
            <a href="https://www.instagram.com/LaCasitaStreamConcert/?hl=es-la">LaCasitaStreamConcert</a>
        </a>
    </div>
    <!-- <div> estudiojuridicointegral_eji</div> -->
    <div><span class="glyphicon glyphicon-envelope"></span>LaCasitaStreamConcert@gmail.com</div>

</h3>
