<div class="container">

    <!-- Codrops top bar -->
    <div class="codrops-top">
        <a href="http://tympanus.net/Tutorials/CSS3ImageAccordion/">
            <strong>&laquo; Previous Demo: </strong>Image Accordion with CSS3
        </a>
        <span class="right">
                    <a href="http://tympanus.net/codrops/2012/06/12/css-only-responsive-layout-with-smooth-transitions/">
                        <strong>Back to the Codrops Article</strong>
                    </a>
                </span>
        <div class="clr">

        </div>
    </div>
    <!--/ Codrops top bar -->

    <div class="st-container">

        <input type="radio" name="radio-set" checked="checked" id="st-control-1" />
        <a href="#st-panel-1">HOME</a>
        <input type="radio" name="radio-set" id="st-control-2" />
        <a href="#st-panel-2">SALUD</a>
        <input type="radio" name="radio-set" id="st-control-3" />
        <a href="#st-panel-3">PREVISIONAL</a>
        <input type="radio" name="radio-set" id="st-control-4" />
        <a href="#st-panel-4">LABORAL</a>
        <input type="radio" name="radio-set" id="st-control-5" />
        <a href="#st-panel-5">CIVIL</a>

        <div class="st-scroll">

            <!-- Placeholder text from http://hipsteripsum.me/ -->

            <section class="st-panel1" id="st-panel-1">
                <div class="st-deco1" data-icon="EJI"></div>
                <app-eji></app-eji>
                <app-areas-p></app-areas-p>
                <h3 class="clase3">
                    <div> <i class='fab fa-whatsapp' style='font-size: 30px;'></i></div>
                    <div> 11 6578-8996</div>
                    <div> 11 6578-8996</div>
                    <div> 11 6963-6870</div>
                    <i class='fab fa-twitter' style='font-size:24px'></i>
                    <div> @ejiestudio</div>
                    <i class="fab fa-instagram" style='font-size:24px'></i>
                    <div> estudiojuridicointegral_eji</div>
                    <div><span class="glyphicon glyphicon-envelope"></span>ejiestudiojuridicointegral@gmail.com</div>

                </h3>
            </section>

            <section class="st-panel2 st-color" id="st-panel-2">
                <div class="st-deco2" data-icon="S"></div>
                <h2>SALUD</h2>
                <p>Amparos de Salud en CABA y en Provincia de Buenos Aires. Desarrollo completo del proceso. Tratamientos de fertilidad. Discapacidad. Internaciones. Medicamentos. Operaciones. Audífonos. Cirugía bariátrica. Expedición del Certificado Único
                    de Discapacidad.
                </p>
            </section>

            <section class="st-panel3" id="st-panel-3">
                <div class="st-deco3" data-icon="P"></div>
                <h2>PREVISIONAL</h2>
                <p>Jubilación y Pensión. Reparación Histórica.</p>
            </section>

            <section class="st-panel4 st-color" id="st-panel-4">
                <div class="st-deco4" data-icon="L"></div>
                <h2>LABORAL</h2>
                <p>Despidos, diferencias salariales, accidentes de trabajo y ART. Trabajo en Negro. Indemnizaciones</p>
            </section>

            <section class="st-panel5" id="st-panel-5">
                <div class="st-deco5" data-icon="C"></div>
                <h2>CIVIL</h2>
                <p>Accidentes en la vía pública, de tránsito y transporte público de pasajeros. Reclamos de daños y perjuicios derivados de la defensa de los derechos del consumidor, daños derivados de incumplimiento contractual, redacción de contratos civiles
                    (locación, comodato, cesión. etc.), problemas derivados de la vecindad. Ejecución de expensas.</p>
            </section>

        </div>
        <!-- // st-scroll -->

    </div>
    <!-- // st-container -->

</div>