<div class="container">
    <div id="large-header" class="large-header" class="col-xs-1">
        <h2 class="cs-text">
            <span class="cs-text-cut">estudio juridico</span>
            <span class="cs-text-mid">integral</span>
            <span class="cs-text-cut">estudio juridico</span>
        </h2>
        <canvas id="demo-canvas"></canvas>
    </div>
</div>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js">
</script>
<script type="text/javascript" src="js/jquery.lettering.js"></script>
<script>
    $(document).ready(function() {
        $(".cs-text-cut").lettering('words');
    });
</script>

<script src="assets/js/TweenLite.min.js"></script>
<script src="assets/js/EasePack.min.js"></script>
<script src="assets/js/rAF.js"></script>
<script src="assets/js/demo-1.js"></script>