/* .main {
    width: fit-content;
    height: 180px;
    margin-top: 170px;
    margin-left: 40%;
    position: absolute;
} */


/* .main {
    width: 90%;
    margin: 0 auto;
    position: relative;
} */

.cs-text {
    width: 80%;
    margin: 120px auto 30px;
    cursor: default;
    position: center;
    margin-top: 190px;
}

.cs-text>span {
    display: block;
    -webkit-backface-visibility: hidden;
}

.cs-text-cut {
    width: 100%;
    height: 120px;
    overflow: hidden;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -ms-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}


/* 
.cs-text-cut:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}
.cs-text-cut:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
} */

.cs-text-cut span {
    display: block;
    line-height: 180px;
    color: rgb(92, 18, 18);
    font-size: 180px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    margin-top: 6px;
    /* font-family: 'Sancreek', cursive;
    text-shadow: 7px 2px 0 rgba(39, 2, 7, 0.3); */
}

.cs-text-cut:last-child span {
    margin-top: -84px;
}

.cs-text-mid {
    font-family: 'Bitter', 'Myriad Pro', Arial, sans-serif;
    text-shadow: 7px 2px 0 rgba(161, 34, 51, 0.3);
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3vw;
    letter-spacing: 35px;
    line-height: 50px;
    text-indent: 20px;
    position: left;
    top: 50%;
    margin-top: -25px;
    opacity: 0;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -o-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    -o-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.cs-text:hover .cs-text-cut:first-child {
    -webkit-transform: translateY(-45px);
    -moz-transform: translateY(-45px);
    -o-transform: translateY(-45px);
    -ms-transform: translateY(-45px);
    transform: translateY(-45px);
    opacity: 0.5;
}

.cs-text:hover .cs-text-cut:last-child {
    -webkit-transform: translateY(45px);
    -moz-transform: translateY(45px);
    -o-transform: translateY(45px);
    -ms-transform: translateY(45px);
    transform: translateY(45px);
    opacity: 0.5;
}

.cs-text:hover .cs-text-mid {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    transition-delay: 0.3s;
    opacity: 1;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
}