<noscript>
    <style>
        .da-thumbs li a div {
            top: 0px;
            left: -100%;
            -webkit-transition: all 0.3s ease;
            -moz-transition: all 0.3s ease-in-out;
            -o-transition: all 0.3s ease-in-out;
            -ms-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
        }
        .da-thumbs li a:hover div{
            left: 0px;
        }
    </style>
</noscript>

<section class="practicas">
    <ul id="da-thumbs" class="da-thumbs">
        <li>
            <a href="http://dribbble.com/shots/505046-Menu">
                <img src="assets/images/1.jpg" width="170px" height="150px" />
                <div><span>AMPAROS DE SALUD</span></div>
            </a>
        </li>
        <li>
            <a href="http://dribbble.com/shots/504336-TN-Aquarium">
                <img src="assets/images/2.jpg" width="170px" height="150px" />
                <div><span>ACCIDENTES DE TRANSITO</span></div>
            </a>
        </li>
        <li>
            <a href="http://dribbble.com/shots/504197-Mr-Crabs">
                <img src="assets/images/3.jpg" width="170px" height="150px" />
                <div><span>ACCIDENTES DE TRABAJO</span></div>
            </a>
        </li>
        <li>
            <a href="http://dribbble.com/shots/503731-Gallery-of-Mo-2-Mo-logo">
                <img src="assets/images/4.jpg" width="170px" height="150px" />
                <div><span>JUBILACIONES</span></div>
            </a>
        </li>
        <li>
            <a href="http://dribbble.com/shots/503058-Ice-Cream-nom-nom">
                <img src="assets/images/5.jpg" width="170px" height="150px" />
                <div><span>DERECHOS DEL CONSUMIDOR</span></div>
            </a>
        </li>
        <li>
            <a href="http://dribbble.com/shots/502927-My-Muse">
                <img src="assets/images/6.jpg" width="170px" height="150px" />
                <div><span>Y MUCHO MAS!</span></div>
            </a>
        </li>

    </ul>
</section>
<script type="text/javascript" src="../../../assets/js/jquery.hoverdir.js"></script>
<script type="text/javascript">
    $(function() {

        $('#da-thumbs > li').hoverdir();

    });
</script>