<section>
    <ul id="da-thumbs" class="da-thumbs">
        <li>
            <a href="http://dribbble.com/shots/505046-Menu">
                <img src="../../../assets/images/SALUD.jpg" class="test" />
                <div><span>Derecho de SALUD</span></div>
            </a>
        </li>
        <li>
            <a href="http://dribbble.com/shots/504336-TN-Aquarium">
                <img src="../../../assets/images/PREVISIONAL.jpg" class="test" />
                <div><span>Derecho PREVISIONAL</span></div>
            </a>
        </li>
        <li>
            <a href="http://dribbble.com/shots/504197-Mr-Crabs">
                <img src="../../../assets/images/accidTrabajo.jpg" class="test" />
                <div><span>Derecho LABORAL</span></div>
            </a>
        </li>
        <li>
            <a href="http://dribbble.com/shots/503731-Gallery-of-Mo-2-Mo-logo">
                <img src="../../../assets/images/TRANSITO.jpg" class="test" />
                <div><span>Derecho CIVIL</span></div>
            </a>
        </li>
    </ul>
</section>