<section class="mainty">
    <ul id="da-thumbs" class="da-thumbs">
        <li>
            <a href="#st-panel-2">
                <img src="../../../assets/images/SALUD.jpg" class="test1" />
                <div><span>Derecho de SALUD</span></div>
            </a>
        </li>
        <li>
            <a href="#st-panel-3">
                <img src="../../../assets/images/PREVISIONAL.jpg" class="test2" />
                <div><span>Derecho PREVISIONAL</span></div>
            </a>
        </li>
        <li>
            <a href="#st-panel-4">
                <img src="../../../assets/images/accidTrabajo.jpg" class="test3" />
                <div><span>Derecho LABORAL</span></div>
            </a>
        </li>
        <li>
            <a href="#st-panel-5" class="test4">
                <img src="../../../assets/images/TRANSITO.jpg" class="test" />
                <div><span>Derecho CIVIL</span></div>
            </a>
        </li>
    </ul>
</section>