/* body {
    background: #ddd url(assets/images/field.jpg) no-repeat right;
    -webkit-background-size: fit-content;
    -moz-background-size: fit-content;
    background-size: 65% 170%;
} */

body {
    background: #ddd url(assets/images/justicia.jpg) no-repeat right;
    width: 100%;
    height: 1000px;
    background-size: 65% 170%;
}