<div class="container">
    <div class="st-container">
        <!-- checked="checked" -->
        <input type="radio" name="radio-set" id="st-control-1" />
        <a href="#st-panel-1">HOME</a>
        <input type="radio" name="radio-set" id="st-control-2" />
        <a routerLink="/*/artista1" class="btn btn-inverse waves-effect waves-light">PAPPA NAPOLITANO</a>
        <input type="radio" name="radio-set" id="st-control-3" />
        <a href="/*/artista2">FREDDY MERCURY</a>
        <input type="radio" name="radio-set" id="st-control-4" />
        <a href="#st-panel-4">ASTOR PIAZZOLA</a>
        <input type="radio" name="radio-set" id="st-control-5" />
        <a href="#st-panel-5">TCHAYKOVSKY</a>

        <div class="st-scroll">
            <section class="st-panel2 st-color" id="st-panel-2">
                <div class="st-deco2" data-icon="P"></div>
                <h2>PAPPO NAPOLITANO
                    <iframe width="560" height="315" src="https://stars.chromeexperiments.com" frameborder="0" allowfullscreen></iframe>
                </h2>
            </section>
        </div>
    </div>
</div>
